title{
    color: red;
}
pre{
    background-color:black;
    color: red;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    background-color: black;
}